@use "../vars" as *;
@use "../response" as *;
@use "../mixins" as *;
.about {
	padding: 30px 0;
	@include respond(mobile-large) {
		padding: 10px 0;
	}
	// &__container {
	// }
	&__title {
		color: $title-text-color;
		line-height: 1.2;
		@include ad-font(96, 30);
	}
	&__subtitle {
		max-width: 60%;
		line-height: 1.5;
		@include adaptive-text;
		@include ad-font(18, 14);
		span {
			color: $title-text-color;
			font-weight: 700;
			@include ad-font(22, 18);
		}
		@include respond(mobile-large) {
			max-width: 100%;
		}
	}
	&__body {
		margin: 60px 0 0;
		width: 100%;
		display: flex;
		position: relative;
		overflow: hidden;
		border-radius: 35px;
		border: 4px solid $main-brd-color;
		overflow: hidden;
		min-height: 0;
		transition: min-height 1s ease;
		@include respond(mobile-large) {
			margin: 30px 0 0;
		}
		@include respond(mobile-medium) {
			flex-direction: column;
		}
	}
	.expanded {
		min-height: 600px;
	}
	&__body-image {
		width: 50%;
		position: relative;
		transition: all 0.5s ease;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
		@include respond(mobile-large) {
			width: 45%;
		}
		@include respond(mobile-medium) {
			width: 100%;
			height: 400px;
		}
		@include respond(mobile-small) {
			height: 250px;
		}
	}
	&__body-content {
		width: 50%;
		padding: 40px 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: $hero-back-bg-color;
		transition: all 0.6s ease;
		box-sizing: border-box;
		@include respond(mobile-large) {
			width: 55%;
			padding: 20px;
		}
		@include respond(mobile-medium) {
			width: 100%;
			padding: 30px 10px;
		}
		@include respond(mobile-small) {
			padding: 10px 10px 15px;
		}
	}
	.move-to-left {
		transform: translateX(-100%);
		opacity: 0;
		visibility: hidden;
	}
	.move-to-right {
		transform: translateX(100%);
		opacity: 0;
		visibility: hidden;
	}
	&__content-since {
		@include adaptive-text;
		font-size: 16px;
		font-weight: 600;
	}
	&__content-title {
		margin: 15px 0 0;
		line-height: 1.2;
		@include ad-font(64, 24);

		span {
			color: $title-text-color;
		}
		@include respond(mobile-large) {
			margin: 0;
			line-height: 1.1;
		}
	}
	&__content-description {
		line-height: 1.5;
		@include adaptive-text;
		@include ad-font(16, 14);
		@include respond(mobile-small) {
			margin: 10px 0 0;
		}
	}
	&__content-opinion {
		margin: 20px 0 0;
		display: flex;
		column-gap: 16px;
		> div {
			flex: 0 1 50%;
		}
		@include respond(mobile-small) {
			flex-direction: column;
			row-gap: 20px;
		}
	}
	&__opinion-item {
		outline: 1px solid $main-brd-color;
		border-radius: 20px;
	}
	&__item-wrapper {
		box-sizing: border-box;
		padding: 20px;
		height: 100%;
		display: flex;
		flex-direction: column;
		@include respond(mobile-large) {
			padding: 10px;
		}
	}
	&__item-header {
		display: flex;
		align-items: center;
		flex: 1;
		@include respond(mobile-large) {
			flex-wrap: wrap;
		}
		@include respond(mobile-small) {
			flex-wrap: nowrap;
		}
	}
	&__item-person {
		width: 100%;
		@include adaptive-text;
		letter-spacing: 1px;
		font-weight: 600;
		line-height: 1.5;
		font-size: 16px;
	}
	&__item-place {
		@include adaptive-text;
		letter-spacing: 0.5px;
		line-height: 1.5;
		font-size: 16px;
		color: $title-text-color;
	}
	&__item-stars {
		display: flex;
		align-items: center;
		justify-content: end;
		img {
			width: 15px;
			height: 15px;
		}
	}
	&__item-text {
		margin: 10px 0 0;
		@include adaptive-text;
		font-size: 14px;
		letter-spacing: 01px;
		line-height: 1.5;
		display: -webkit-box;
		height: 65px;
		padding: 0 10px 0 0;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow-y: hidden;
		text-overflow: ellipsis;
		@include respond(mobile-large) {
			margin: 0;
		}
	}
	&__item-text.show-full-opinion {
		display: block;
		overflow-y: auto;
	}
	&__content-btn {
		margin: 25px 0 0;
		align-self: flex-start;
		color: $btn-text-color;
		@include adaptive-text;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 1px;
		position: relative;
		transition: transform 0.3s ease;
		&::before {
			content: "";
			position: absolute;
			border-top: 3px solid $main-brd-color;
			border-right: 3px solid $main-brd-color;
			width: 8px;
			height: 8px;
			right: -20px;
			transform: translateY(50%) rotate(45deg);
		}
		&:hover {
			transform: scale(1.1);
		}
		@include respond(mobile-medium) {
			align-self: end;
			margin: 25px 35px 0 0;
		}
		@include respond(mobile-small) {
			margin: 15px 35px 0 0;
		}
	}
	&__body-back {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 20px;
		z-index: -1;
		opacity: 0;
		display: flex;
		flex-direction: column;
		transition: opacity 0.5s ease-in-out;
	}
	.show-back {
		transition: z-index 0s 1s;
		z-index: 1;
		opacity: 1;
	}
	&__back-btn {
		width: 40px;
		height: 40px;
		position: absolute;
		top: 30px;
		right: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		span {
			background-color: $main-brd-color;
			display: block;
			width: 100%;
			height: 5px;
			border-radius: 10px;
			position: absolute;
		}
		span:first-child {
			transform: rotate(45deg);
		}
		span:last-child {
			transform: rotate(-45deg);
		}
		@include respond(mobile-medium) {
			width: 35px;
			height: 35px;
			top: 20px;
		}
	}
	&__back-title {
		color: $title-text-color;
		line-height: 1.2;
		letter-spacing: 0.7px;
		@include ad-font(72, 26);
	}
	&__back-subtitle {
		letter-spacing: 0.5px;
		@include adaptive-text;
		@include ad-font(18, 16);
	}
}

.aboutSwiper {
	margin: 20px 0 0;
	width: 100%;
	height: 100%;
	padding: 2px;
	.swiper-wrapper {
		height: 85%;
		@include respond(mobile-medium) {
			height: 90%;
		}
	}
	&__navigation {
		margin: 10px 0 0;
		position: relative;
		display: flex;
		height: 45px;
		justify-content: space-between;
		.swiper-pagination {
			position: relative;
			align-items: center;
			display: flex;
			top: 0;
			@include respond(mobile-small) {
				max-width: 50%;
				flex-wrap: wrap;
			}
		}
		.swiper-pagination-bullet {
			background: $btn-bg-color;
		}
	}
	&__buttons {
		width: 130px;
		display: flex;
		justify-content: space-between;
		@include respond(mobile-small) {
			width: 100px;
		}
	}
	&__button {
		position: relative;
		left: 0;
		width: 45px;
		background-color: $btn-bg-color;
		border-radius: 50%;
		color: $btn-bg-color;
		transition: all 0.2s ease;
		outline: 2px solid $main-brd-color;
		&::after,
		&::before {
			display: none;
		}
		img {
			transition: all 0.2s ease;
		}
		@media (hover: hover) {
			&:hover {
				img {
					transform: scale(1.5);
				}
				background-color: $alt-bg-color;
			}
		}
		@include respond(mobile-small) {
			width: 35px;
			height: 35px;
		}
	}
}
