@use "../vars" as *;
@use "../response" as *;
@use "../mixins" as *;

.hero {
	padding: 30px 0;
	@include respond(mobile-large) {
		padding: 10px 0;
	}
	// &__container {
	// }
	&__wrapper {
		min-height: 700px;
		height: calc(100vh - 100px);
		max-height: 1000px;
		display: grid;
		grid-template: auto minmax(300px, 100%) / 1fr;
		row-gap: 20px;
		@include respond(mobile-small) {
			min-height: 550px;
			height: calc(100vh - 80px);
			grid-template: auto minmax(200px, 100%) / 1fr;
			row-gap: 10px;
		}
	}
	&__top {
		display: flex;
		column-gap: 20px;
		@include respond(mobile-medium) {
			flex-direction: column;
		}
	}
	&__title {
		flex: 0 1 50%;
		text-transform: uppercase;
		color: $title-text-color;
		line-height: 1.2;
		@include ad-font(96, 24);
		@include respond(mobile-large) {
			flex: 0 1 40%;
		}
	}
	&__content {
		flex: 0 1 50%;
		@include adaptive-text;
		@include ad-font(18, 14);
		@include respond(mobile-large) {
			flex: 0 1 60%;
		}
		@include respond(mobile-small) {
			margin: 10px 0 0;
		}
	}
	&__content-text {
		line-height: 1.5;
		@include respond(mobile-medium) {
			letter-spacing: 1.2px;
		}
		@include respond(mobile-small) {
			width: 100%;
			letter-spacing: 1px;
			line-height: 1.1;
		}
	}
	&__toggle {
		margin: 32px 0 0;
		@include respond(mobile-large) {
			margin: 20px 0 0;
		}
		@include respond(mobile-medium) {
			margin: 30px 0 0;
		}
		@include respond(mobile-small) {
			margin: 20px 0 0;
			display: grid;
			grid-template: 1fr / 50% 50%;
			column-gap: 10px;
		}
	}
	&__toggle-title {
		font-weight: 600;
		@include ad-font(26, 18);
		letter-spacing: 1px;
		@include respond(mobile-small) {
			grid-row: 1/2;
			grid-column: 1/3;
		}
	}
	&__toggle-button {
		margin: 15px 0 0;
		padding: 12px 30px;
		border-radius: 15px;
		border: 2px solid $main-brd-color;
		color: $btn-text-color;
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 600;
		line-height: 1.5;
		letter-spacing: 1px;
		transition: all 0.2s ease-in;
		@include ad-font(18, 16);
		@media (hover: hover) {
			&:hover {
				background-color: $hov-alt-btn-bg-color;
				color: $hov-btn-text-color;
			}
		}
		@include respond(mobile-small) {
			padding: 7px 10px;
			margin: 5px 0 0;
		}
	}
	&__toggle-button:last-child {
		margin: 15px 0 0 15px;
		@include respond(mobile-small) {
			margin: 5px 0 0;
		}
	}
	.heroSwiper {
		margin: 0;
		padding: 0 0 7px 0;
		display: flex;
		row-gap: 20px;
		flex-direction: column;
		justify-content: space-between;
		.swiper-wrapper {
			justify-self: flex-end;
			height: 90%;
		}
		@include respond(mobile-small) {
			row-gap: 10px;
		}
		&__slide {
			border: 3px solid $main-brd-color;
			box-sizing: border-box;
			border-radius: 35px;
			overflow: hidden;
			perspective: 1000px;
			transition: transform 0.6s;
			transform-style: preserve-3d;
			@include respond(mobile-small) {
				border-radius: 15px;
			}
			&:hover {
				.heroSlide__wrapper {
					transform: rotateX(-180deg);
				}
			}
		}
		&__navigation {
			position: relative;
			width: 100%;
			height: 15%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.swiper-pagination {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: start;
				top: 0;
				left: 0;
				width: 100px;
				height: 100%;
			}
			.swiper-pagination-bullet {
				background: $btn-bg-color;
			}
			@include respond(mobile-small) {
				height: 35px;
			}
		}
		&__buttons {
			height: 100%;
			width: 120px;
			display: flex;
			justify-content: space-between;
			padding: 5px;
			div {
				position: relative;
				left: 0;
				top: 0;
				transform: translate(0);
				margin: 0;
				width: 50px;
				background-color: $btn-bg-color;
				border-radius: 50%;
				color: $btn-bg-color;
				transition: all 0.2s ease;
				outline: 2px solid $main-brd-color;
				&::after,
				&::before {
					display: none;
				}
				img {
					transition: all 0.2s ease;
				}
				@media (hover: hover) {
					&:hover {
						img {
							transform: scale(1.5);
						}
						background-color: $alt-bg-color;
					}
				}
				@include respond(mobile-small) {
					width: 35px;
					height: 35px;
				}
			}
			@include respond(mobile-small) {
				width: 100px;
			}
		}
	}
}
.heroSlide {
	&__wrapper {
		height: 100%;
		position: relative;
		transition: transform 0.6s;
		transform-style: preserve-3d;
	}
	&__logo {
		position: absolute;
		max-width: 10%;
	}
	&__description {
		z-index: 1;
		margin: 0 auto;
		padding: 10px 20px;
		@include respond(mobile-small) {
			padding: 10px 10px;
		}
	}
	&__description-title {
		@include ad-font(54, 20);
		line-height: 1.3;
		text-transform: uppercase;
		color: $title-text-color;
		font-weight: 700;
		letter-spacing: 0.7px;
		max-width: 80%;
		text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.7);
		@include respond(mobile-small) {
			letter-spacing: 1.5px;
			line-height: 1.1;
		}
	}
	&__description-text {
		color: $alt-text-color;
		line-height: 1.5;
		@include adaptive-text;
		letter-spacing: 0.7px;
		@include ad-font(18, 14);
		@include respond(mobile-small) {
			line-height: 1.1;
		}
	}
	&__box {
		position: relative;
		overflow: hidden;
	}
	&__box-img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__back,
	&__front {
		width: 100%;
		height: 100%;
		border-radius: 25px;
		overflow: hidden;
		position: absolute;
		display: flex;
		align-items: center;
		@include respond(mobile-small) {
			border-radius: 10px;
		}
	}
	&__front {
		justify-content: space-between;
	}
	&__back {
		flex-direction: column;
		background: $hero-back-bg-color;
		box-shadow: inset 0 0 15px 2px $title-text-color;
		transform: rotateX(180deg);
		backface-visibility: hidden;
		will-change: transform, opacity, backface-visibility;
		z-index: 1;
		@include respond(mobile-small) {
			box-shadow: inset 0 0 7px 2px rgba($color: $title-text-color, $alpha: 0.5);
		}
	}
	&__back-title {
		line-height: 1.3;
		text-transform: uppercase;
		font-style: normal;
		color: $title-text-color;
		letter-spacing: 1px;
		text-align: center;
		padding: 30px 20px 0;
		@include respond(mobile-small) {
			padding: 15px 10px 0;
			font-weight: 600;
		}
	}
	&__back-text {
		font-family: Montserrat;
		line-height: 1.5;
		overflow-y: auto;
		letter-spacing: 1.2px;
		margin: 20px 40px 40px;
		padding: 0 20px 0 0;
		text-shadow: 0 0 1px white;
		@include ad-font(18, 14);
		p:not(:first-child) {
			margin: 20px 0 0;
		}
		span {
			font-weight: 700;
			color: $title-text-color;
		}
		@include respond(mobile-medium) {
			margin: 10px 20px 15px;
			padding: 0 10px 0 0;
		}
		@include respond(mobile-small) {
			margin: 10px 20px 15px;
			padding: 0 5px 0 0;
			p:not(:first-child) {
				margin: 10px 0 0;
			}
		}
	}
}

.spring {
	&__front {
		background-color: #f4e1e1;
	}
	&__logo {
		bottom: -40px;
		left: -40px;
		@include respond(mobile-small) {
			bottom: -10px;
			left: -10px;
		}
	}
	&__description {
		flex: 0 1 60%;
		p {
			max-width: 300px;
			background-color: rgba($color: #f4e1e1, $alpha: 0.6);
			backdrop-filter: blur(10px);
			border-radius: 25px;
		}
		@include respond(mobile-small) {
			h2 {
				max-width: 100%;
			}
		}
		@include respond(mobile-medium) {
			position: relative;
			top: -15%;
		}
	}
	&__box {
		flex: 0 1 40%;
		border-radius: 135px 0 0 0;
		height: 100%;
		background-color: $card-bg-color;
		overflow: visible;
		img {
			width: 100%;
			right: 0;
			overflow: visible;
		}
		@include respond(mobile-medium) {
			img {
				width: 60%;
				bottom: -30px;
			}
		}
	}
	&__back-title {
		@include ad-font(44, 20);
	}
	&__back-text {
	}
}
.catering {
	&__front {
		background-color: #8ca8c8;
	}
	&__logo {
		top: -50px;
		left: -50px;
		@include respond(mobile-small) {
			top: -10px;
			left: -10px;
		}
	}
	&__description {
		flex: 0 1 50%;
		p {
			color: $main-text-color;
		}
		@include respond(mobile-small) {
			h2 {
				max-width: 100%;
			}
		}
	}
	&__box {
		flex: 0 1 45%;
		align-self: flex-end;
		height: 85%;
		border-left: 20px solid $main-brd-color;
		border-top: 20px solid $main-brd-color;
		border-radius: 135px 0 0 0;
		img {
			right: 0;
			bottom: 0;
		}
		@include respond(mobile-small) {
			min-width: 50%;
			height: 90%;
			border-left: 5px solid $main-brd-color;
			border-top: 5px solid $main-brd-color;
		}
	}
	&__back-title {
		@include ad-font(48, 20);
	}
	&__back-text {
		p:nth-child(2) {
			font-weight: 700;
		}
	}
}
.tort {
	&__front {
		background-color: #8db2a7;
		flex-direction: row-reverse;
	}
	&__logo {
		bottom: -40px;
		right: -40px;
		@include respond(mobile-small) {
			bottom: -10px;
			right: -10px;
		}
	}
	&__description {
		flex: 0 1 60%;
		p {
			color: $main-text-color;
		}
		@include respond(mobile-small) {
			p {
				line-height: 1;
			}
			h2 {
				line-height: 1.1;
				max-width: 100%;
			}
		}
	}
	&__box {
		flex: 0 1 35%;
		height: 100%;
		img {
			top: 0;
			left: 0;
		}
	}
	&__back-title {
		@include ad-font(48, 20);
		font-weight: 700;
		letter-spacing: 2px;
	}
	&__back-text {
		p:nth-child(even) {
			font-weight: 700;
		}
	}
}
.fivenabogato {
	&__front {
		background-color: #928cc8;
	}
	&__logo {
		bottom: -5%;
		left: -2%;
		@include respond(mobile-small) {
			bottom: -2%;
			left: -2%;
		}
	}
	&__description {
		flex: 0 1 60%;
		h2 {
			@include ad-font(54, 24);
		}
		p {
			margin: 20px 0 0;
			color: $main-text-color;
			max-width: 540px;
		}
		@include respond(mobile-medium) {
			flex: 0 1 70%;
			p {
				margin: 0;
			}
		}
	}
	&__box {
		flex: 0 1 40%;
		height: 80%;
		background-color: #ffc700;
		border-radius: 135px 0 0 135px;
		img {
			width: 80%;
			min-height: 350px;
			height: auto;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
		@include respond(mobile-medium) {
			img {
				object-fit: contain;
			}
		}
	}
	&__back-title {
		@include ad-font(48, 20);
		font-weight: 700;
		letter-spacing: 2px;
	}
	&__back-text {
		p:nth-child(even) {
			font-weight: 700;
		}
	}
}
.happyhours {
	&__front {
		background-color: #66be60;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
	}
	&__logo {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(2);
		opacity: 0.7;
		max-width: 100%;
		@include respond(mobile-medium) {
			transform: translate(-50%, -50%) scale(1.5);
		}
		@include respond(mobile-small) {
			transform: translate(-50%, -50%) scale(1);
		}
	}
	&__description {
		width: 100%;
		text-align: center;
		padding: 0;
		h2 {
			max-width: 100%;
		}
		p {
			color: $main-text-color;
			text-shadow: 0 0 2px black;
			max-width: 35%;
			margin: 0 auto;
		}
		@include respond(mobile-medium) {
			p {
				max-width: 80%;
			}
		}
		@include respond(mobile-small) {
			p {
				max-width: 100%;
			}
		}
	}
	&__box {
		width: 150px;
		height: 150px;
		@include respond(mobile-small) {
			width: 100px;
			height: 100px;
		}
	}
	&__back-title {
		@include ad-font(48, 20);
		font-weight: 700;
		letter-spacing: 2px;
	}
	&__back-text {
	}
}
.stickers {
	&__front {
		background-color: #629cd6;
		flex-direction: row-reverse;
	}
	&__logo {
		left: 50%;
		bottom: -50%;
		max-width: 100%;
		opacity: 0.8;
		transform: translate(-50%, -40%) scale(2.5);
		@include respond(mobile-medium) {
			transform: translate(-50%, -40%) scale(2);
		}
		@include respond(mobile-small) {
			bottom: -60%;
			transform: translate(-50%, 0%) scale(1);
		}
	}
	&__description {
		text-align: center;
		position: relative;
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		border-radius: 25px;
		background-color: rgba($color: #629cd6, $alpha: 0.4);
		backdrop-filter: blur(10px);
		h2 {
			position: relative;
			&::before,
			&::after {
				content: "🎁";
				top: -10%;
				@include ad-font(80, 30);
				position: absolute;
			}
			&::before {
				left: 0;
				transform: translateX(-100%) rotate(-25deg);
			}
			&::after {
				right: 0;
				transform: translateX(100%) rotate(25deg);
			}
		}
		p {
			max-width: 60%;
			margin: 0 auto;
			color: $main-text-color;
			text-shadow: 0 0 2px black;
			span {
				font-weight: 700;
			}
		}
		@include respond(mobile-small) {
			p {
				max-width: 100%;
			}
		}
	}
	&__box {
		display: none;
	}
	&__back-title {
		@include ad-font(48, 20);
		font-weight: 700;
		letter-spacing: 2px;
	}
	&__back-text {
	}
}
