@use "../vars" as *;
@use "../response" as *;

.menu {
	padding: 50px 0;
	@include respond(mobile-large) {
		padding: 30px 0;
	}
	@include respond(mobile-small) {
		padding: 10px 0 0;
	}
	&__container {
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
		row-gap: 50px;
		@include respond(mobile-large) {
			row-gap: 30px;
		}
		@include respond(mobile-medium) {
			row-gap: 15px;
		}
	}
	&__section {
	}
	&__section-title {
		text-transform: uppercase;
		color: $title-text-color;
		line-height: 1.2;
		@include ad-font(72, 24);
	}
	&__section-description {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 15px;
	}
	&__description-text {
		flex: 0 1 50%;
		font-family: $second-font-family;
		line-height: 1.5;
		@include ad-font(18, 14);
		@include respond(mobile-large) {
			flex: 0 1 75%;
		}
		@include respond(mobile-small) {
			flex: 0 1 100%;
		}
	}
	&__description-button {
		border: 2px solid $main-brd-color;
		border-radius: 15px;
		padding: 12px 24px;
		letter-spacing: 1.2px;
		transition: all 0.3s ease;
		@media (hover: hover) {
			&:hover {
				background-color: $btn-bg-color;
				color: $alt-text-color;
			}
		}
		@include respond(mobile-medium) {
			padding: 10px 15px;
		}
	}
	&__section-swiper {
		margin: 60px 0 0;
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		@include respond(mobile-large) {
			margin: 30px 0 0;
		}
		@include respond(mobile-small) {
			margin: 10px 0 0;
		}
	}
	&__swiper-wrapper {
	}
	.hidden {
		display: none;
	}
	.show-all {
		max-width: 100%;
		flex-wrap: wrap;
		column-gap: 25px;
		row-gap: 20px;
		> div {
			margin-right: 0 !important;
			flex: 0 1 calc(20% - 20px);
		}
		@media (max-width: 1300px) {
			max-width: 100%;
			flex-wrap: wrap;
			column-gap: 25px;
			row-gap: 24px;
			> div {
				flex: 0 1 calc(25% - 20px);
			}
		}
		@include respond(mobile-large) {
			> div {
				flex: 0 1 calc(33.333% - 18px);
			}
		}
		@include respond(mobile-medium) {
			> div {
				flex: 0 1 calc(50% - 13px);
			}
		}
	}
	&__swiper-slide {
		width: 100%;
	}

	.menuSlide {
		&__wrapper {
			display: flex;
			flex-direction: column;
			justify-items: flex-start;
		}
		&__image {
			position: relative;
			aspect-ratio: 6 / 7;
			border-radius: 20px;
			overflow: hidden;
			> img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
			}
			@include respond(mobile-large) {
				aspect-ratio: 16 / 11;
			}
			@include respond(mobile-medium) {
				aspect-ratio: 16 / 9;
				min-height: 200px;
			}
			@include respond(mobile-small) {
				min-height: auto;
				aspect-ratio: 16 / 8;
			}
		}
		&__allergens {
			position: absolute;
			z-index: 1;
			top: 10px;
			right: 10px;
			display: flex;
			column-gap: 5px;
			padding: 5px;
			background-color: $alt-bg-color;
			border-radius: 15px;
			@include respond(mobile-large) {
				top: 5px;
				right: 5px;
			}
		}
		&__allergens-item {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			padding: 3px;
			background-color: $card-bg-color;
			display: flex;
			align-items: center;
			justify-content: center;
			@include respond(mobile-large) {
				width: 15px;
				height: 15px;
			}
		}
		&__info {
			margin: 25px 0 0;
			display: flex;
			flex-direction: column;
			@include respond(mobile-large) {
				margin: 15px 0 0;
			}
		}
		&__info-head {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__info-name {
			letter-spacing: 0.8px;
			text-transform: uppercase;
			line-height: 1.1;
			@include ad-font(28, 20);
			@include respond(mobile-small) {
				min-height: auto;
			}
		}
		&__info-price {
			color: $title-text-color;
			justify-self: flex-end;
			text-wrap: nowrap;
			@include ad-font(32, 20);
		}
		&__info-description {
			padding: 0 15px 0 0;
			font-family: $second-font-family;
			font-size: 14px;
			letter-spacing: 0.5px;
			line-height: 1.5;
			display: -webkit-box;
			min-height: 63px;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.show-more-info {
			display: block;
			overflow-y: auto;
		}
		&__button-add {
			margin: 15px 0 0;
			padding: 8px 20px;
			display: block;
			text-align: center;
			background-color: $btn-bg-color;
			color: $alt-text-color;
			border-radius: 15px;
			font-weight: 600;
			font-family: $second-font-family;
			letter-spacing: 0.7px;
			position: relative;
			border: 4px solid $main-brd-color;
			overflow: hidden;
			transition: all 0.4s ease;
			span {
				display: block;
				position: relative;
				z-index: 1;
			}
			&::before,
			&::after {
				content: "";
				position: absolute;
				top: 0;
				background-color: $alt-bg-color;
				width: 50%;
				height: 100%;
				border-radius: 50%;
				transform: scaleY(0);
				transition: all 0.4s ease;
			}
			&::before {
				left: -50%;
			}
			&::after {
				right: -50%;
			}
			@media (hover: hover) {
				&:hover {
					&::before,
					&::after {
						transform: scaleY(1);
					}
					&::before {
						border-radius: 11px 0 0 11px;
						left: 0;
					}
					&::after {
						border-radius: 0 11px 11px 0;
						right: 0;
					}
				}
			}
			@include respond(mobile-medium) {
				padding: 0;
			}
		}
	}
	&__swiper-navigation {
		position: relative;
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.swiper-pagination {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: start;
			top: 0;
			left: 0;
			height: 100%;
			@include respond(mobile-medium) {
				width: 80%;
			}
		}
		.swiper-pagination-bullet {
			background: $btn-bg-color;
		}
		@include respond(mobile-small) {
			height: 35px;
		}
	}
	&__navigation-buttons {
		height: 100%;
		width: 120px;
		display: flex;
		justify-content: space-between;
		padding: 5px;

		@include respond(mobile-small) {
			width: 85px;
		}
	}
	&__buttons-btn {
		position: relative;
		left: 0;
		top: 0;
		transform: translate(0);
		margin: 0;
		width: 50px;
		background-color: $btn-bg-color;
		border-radius: 50%;
		color: $btn-bg-color;
		transition: all 0.2s ease;
		outline: 2px solid $main-brd-color;
		&::after,
		&::before {
			display: none;
		}
		img {
			transition: all 0.2s ease;
		}
		@media (hover: hover) {
			&:hover {
				img {
					transform: scale(1.5);
				}
				background-color: $alt-bg-color;
			}
		}
		@include respond(mobile-small) {
			width: 30px;
			height: 30px;
		}
	}
}
