//Backgrounds-color
$main-bg-color: linear-gradient(270deg, #313131 0%, #515151 53.67%, #363636 100%);
$hero-back-bg-color: radial-gradient(circle, #313131 0%, #515151 53.67%, #363636 100%);

$alt-bg-color: whitesmoke;

$fir-popup-bg-color: #fcb700;
$sec-popup-bg-color: linear-gradient(270deg, #313131 0%, #515151 53.67%, #363636 100%);

//Text-color
$main-text-color: #ffffff;
$title-text-color: #fcb700;

$link-color: #ffffff;
$hov-link-color: #fcb700;

$alt-text-color: black;
//Element-color

$main-brd-color: #fcb700;
$alt-brd-color: #313131;

//Buttons
$btn-bg-color: #fcb700;
$alt-btn-bg-color: #313131;

$hov-btn-bg-color: #313131;
$hov-alt-btn-bg-color: #fcb700;

$btn-text-color: #fcb700;
$alt-btn-text-color: #313131;

$hov-btn-text-color: #313131;
$hov-alt-btn-text-color: #fcb700;

$card-bg-color: #fcb700;

//Fonts
$second-font-family: "Montserrat";
$main-font-family: "Ando";

//Scroll
$bg-scroll: #fcb700;
$thumb-scroll: #fcb700;

$alt-bg-scroll: #313131;
$alt-thumb-scroll: #313131;
