@use "./styles/_fonts";
@use "./styles/_reset";
@use "./styles/_vars" as *;
@use "./styles/sections/_header";

body {
	width: 100%;
	min-height: 100%;
	color: $main-text-color;
	background: $main-bg-color 0 0 no-repeat;
	overflow: hidden;
	line-height: 150%;
}
html[lang="ua"] {
	font-family: "Courier New", Courier, monospace;
}
html {
	font-family: "Ando";
}
.container {
	width: 100%;
	max-width: 1890px;
	padding: 0 15px;
	margin: 0 auto;
}
main {
	height: 100vh;
}
