@use "./styles/fonts";
@use "./styles/reset";
@use "./styles/ukraine";
@use "./styles/vars" as *;
@use "./styles/response" as *;
@use "./styles/sections/header";
@use "./styles/sections/hero";
@use "./styles/sections/legend";
@use "./styles/sections/menu";
@use "./styles/sections/about";

body {
	color: $main-text-color;
	background: $main-bg-color 0 0 no-repeat;
	line-height: 150%;
	font-size: 16px;
	overflow-x: hidden;
}
html[lang="pl"],
html[lang="en"],
html[lang="de"] {
	font-family: "Ando";
}

[class*="__container"] {
	max-width: 1890px;
	padding: 0 15px;
	margin: 0 auto;
}

// .swiper {
// }
// .swiper-wrapper {
// }
// .swiper-slide {
// }

main {
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: rgba($color: $bg-scroll, $alpha: 0.4);
	border-radius: 15px;
}

::-webkit-scrollbar-thumb {
	background: rgba($color: $bg-scroll, $alpha: 0.5);
	border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba($color: $bg-scroll, $alpha: 1);
}
